In [3]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler 
import pickle
import pandas as pd

In [4]:
# Training three models to predict heart failure

df = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df.drop(['time'], axis=1, inplace=True)
df.drop(df[df['ejection_fraction']==80].index, axis=0, inplace=True)

In [9]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,0

In [10]:
y = df['DEATH_EVENT']
X = df.drop('DEATH_EVENT', axis=1)

In [12]:
scale_list = ['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium']
scaler = StandardScaler()
X[scale_list] = scaler.fit_transform(X[scale_list])

In [14]:
X[scale_list]

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium
0,1.190037,0.000166,-1.549181,1.678834e-02,0.488578,-1.501252
1,-0.496407,7.502063,0.004925,7.548293e-09,-0.284790,-0.141455
2,0.346815,-0.449185,-1.549181,-1.036336e+00,-0.091448,-1.727885
3,-0.918018,-0.485257,-1.549181,-5.455595e-01,0.488578,0.085177
4,0.346815,-0.434756,-1.549181,6.507077e-01,1.261947,-4.674112
...,...,...,...,...,...,...
294,0.093848,-0.536788,0.004925,-1.107907e+00,-0.284790,1.444974
295,-0.496407,1.276076,0.004925,6.791087e-02,-0.188119,0.538443
296,-1.339629,1.523425,1.904389,4.893878e+00,-0.574804,0.311810
297,-1.339629,1.887235,0.004925,-1.261275e+00,0.005223,0.765076
298,-0.918018,-0.397654,0.609300,1.345974e+00,0.198565,-0.141455

In [17]:
# logistic regression
from sklearn.linear_model import LogisticRegression
Logi = LogisticRegression(C=0.46415, penalty='l2')
Logi.fit(X,y)
pickle.dump(Logi,open('Logistic_HF.pkl', 'wb'))

In [24]:
# SVC algorithm
from sklearn import svm
from sklearn.svm import SVC
SVM = SVC(kernel='linear', probability=True)
SVM.fit(X,y)
pickle.dump(SVM, open('SVC_HF.pkl', 'wb'))

In [25]:
#XGBoost algorithm
xgb_params = {'max_depth': 3, 'min_child_weight': 1, 'n_estimators': 300}
XGB = XGBClassifier(**xgb_params)
XGB.fit(X,y)
pickle.dump(XGB,open('XGB_HF.pkl', 'wb'))